/* for cross icon */
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.item-row {
  display: flex;
  justify-content: space-between;
}

.child {
  padding: 5px;
}
