/* for cross icon */
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.item-light-gray {
  color: #708090;
  background-color: #dbd7d2;
  display: flex;
  justify-content: space-between;
}

.item-dark-gray {
  color: #dbd7d2;
  background-color: #708090;
  display: flex;
  justify-content: space-between;
}

.child {
  padding: 5px;
}
