.main {
  display: flex;
  background-color: #708090;
  text-align: center;
  flex-direction: column;
}
@media (max-width: 760px) {
  .main {
    padding: 0 5% 0 5%;
  }
}
@media (min-width: 760px) {
  .main {
    padding: 0 20% 0 20%;
  }
}

.item-head {
  padding-top: 40px;
}

.item-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 10px;
}
.controls {
  flex-grow: 1;
}
@media (max-width: 640px) {
  .item-table {
    flex-direction: column;
  }
  .controls {
    padding-bottom: 20px;
  }
}

.columns {
  display: flex;
  flex-grow: 2;
}
