.item-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 3px solid white;
  overflow-y: auto;
  height: 400px;
}

.column-child:nth-child(even) {
  color: #708090;
  background-color: #dbd7d2;
}

.column-child:nth-child(odd) {
  color: #dbd7d2;
  background-color: #708090;
}
