input[type="text"] {
  background-color: #91a3b0;
  border: 2px solid white;
  color: white;
  padding: 10px;
}
::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder {
  color: white;
}

label {
  color: white;
  font-size: small;
}

/* for search icon */
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.search {
  position: relative;
}
.search .fa-search {
  position: absolute;
  top: 12px;
  right: 40px;
  font-size: 15px;
  color: white;
}
