.item-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 3px solid white;
  overflow-y: auto;
  height: 400px;
}

.column-child:nth-child(even) {
  color: #708090;
  background-color: #f4f0ec;
}

.column-child:nth-child(odd) {
  color: white;
  background-color: #a9a9a9;
}
